// Body
$body-bg: #F7F7F7;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$navharHeight: 70px;
$navbarWidth: 250px;
$navbarPadding: 30px;
$navbarBorderColor: rgba(208, 215, 221, 0.7);

$primary: #4A54E2;

// Colors
$darkText: #8292A5;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Mixins
$tablet: 768px;
$tablet-sm: 576px;

$display-sm: 992px;
$display : 1024px;

$mobile-sm: 360px;
$mobile: 450px;

$h1: 64px;
$h1-mobile: 36px;

$h2: 42px;
$h2-mobile: 32px;