// Body
$body-bg: #F3F6F6;
/*$info:          $cyan !default;*/
/*$warning:       $yellow !default;*/
$primary-light: #e6e7fb;
$danger:        #f1416c !default;
$danger-light:  #fff5f8 !default;
$secondary: white;
$warning: #ffc700;
$warning-light: #fff8dd;
$info-light: #f1faff;
$default: #697581;
$default-light: #f6f5f5;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$line-height-base: 1.6;

$inputBorderColor: #DEE3E8;
$inputRadius: .475rem;
$sidebarPadding: 35px;
$boxPadding: 30px;
$cardPadding: $boxPadding / 1.5;
$navbarHeight: 70px;
$navbarWidth: 250px;
$navbarWidthHidden: 50px;
$navbarPadding: 50px;
$navbarPaddingTop: $navbarPadding / 1.5;
$navbarBorderRadius: 4px;
$navbarBorderColor: #eaedf0;
$navbarButtonsPadding: $navbarPadding / 2.5;
$boxBorderRadius: 8px;
$validationErrorcolor: #dd4b39;


//Forms settings
$form-group-margin-bottom: $cardPadding;
$btn-border-radius: 0.425rem;
$btn-padding-y: 0.78rem;
$input-padding-y: 0.78rem;
$buttonHeight: 4rem;
/*$input-btn-line-height: .8rem;*/

// Colors
$primary: #4A54E2;
$blackText: #41464C;
$darkText: #8292A5;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Mixins
$mobile-sm: 360px;
$mobile: 450px;

$h1: 64px;
$h1-mobile: 36px;

$h2: 42px;
$h2-mobile: 32px;