.btn {
    &.btn--icon > i:first-child {
        margin-right: 7px;
    }

    .--icon-left { margin-right: 7px; }
    .--icon-right { margin-left: 7px; }
}

.btn-default {
    background: #DEE3E8;

    &:hover {
        background: darken(#DEE3E8, 10%);
    }
}