.btn {
    &.btn--icon:not(.--no-margin) > i:first-child {
        margin-right: 0.7rem;
    }

    .--icon-left {
        margin-right: 0.7rem;
    }
    .--icon-right {
        margin-left: 0.7rem;
    }

    &.btn-light-primary {
        background: $primary-light;
        color: $primary;

        &:hover {
            background: $primary;
            color: $primary-light;
        }
    }

    &.btn-light-default {
        background: $default-light;
        color: $default;

        &:hover {
            background: $default;
            color: $default-light;
        }
    }

    &.btn-light-warning {
        background: $warning-light;
        color: $warning;

        &:hover {
            background: $warning;
            color: $warning-light;
        }
    }

    &.btn-light-danger {
        background: $danger-light;
        color: $danger;

        &:hover {
            background: $danger;
            color: $danger-light;
        }
    }

    &.btn-light-info {
        background: $info-light;
        color: $info;

        &:hover {
            background: $info;
            color: $info-light;
        }
    }

    &.btn-default {
        background: #dee3e8;

        &:hover {
            background: darken(#dee3e8, 10%);
        }
    }

    &.btn-secondary {
        color: $darkText;
        border: 1px solid $inputBorderColor;
    }
}
