.dropdown {
    &, button {
        @include fontSize(14px);

        &:not(.btn-primary):not(.btn-secondary):not(.btn-success):not(.btn-danger):not(.btn-info):not(.btn-dark):not(.btn-default) {
            color: $darkText;
        }
    }

    button {
        border: 1px solid $inputBorderColor;
        border-radius: $inputRadius;
        display: flex;
        align-items: center;

        &:not(.btn-primary):not(.btn-secondary):not(.btn-success):not(.btn-danger):not(.btn-info):not(.btn-dark):not(.btn-default) {
            background: white;

            &:hover {
                background: #FCFCFC;
                color: $darkText;
            }
        }

        i {
            &.--icon-left { margin-right: 10px; }
            &.--icon-right { margin-left: 10px; }

            @include fontSize(11px);
        }

        &.btn-sm {
            i {
                &.--icon-left { margin-right: 8px; }
                &.--icon-right { margin-left: 8px; }
            }
        }

        &:after {
            display: none;
        }
    }

    ul, .dropdown-menu {
        width: 200px;
        padding: 0;
        margin-top: 3px;

        li, .dropdown-item {
            @include fontSize(14px);
            color: $darkText;
            cursor: pointer;

            &:not(.--no-item-padding), .--dropdown-item-padding {
                padding: 10px 12px;
            }

            .--dropdown-item-vertical {
                display: flex;
                align-items: center;
            }

            i {
                &.--icon-left { margin-right: 3px; }
                &.--icon-right { margin-left: 3px; }

                @include fontSize(11px);
            }

            a {
                color: $darkText;
                display: block;

                &, &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                background: #F3F6F6;
                color: #41464C;
            }

            &:not(.active):hover {
                background: #FCFCFC;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $inputBorderColor;
            }
        }
    }
}

.card {
    border-color: $navbarBorderColor;
    border-radius: 0;

    .card-header {
        border-radius: 0;
        padding: 10px $navbarPadding / 2;
        @include fontSize(16px);
        background: $navbarBorderColor;
        color: $blackText;
        border-bottom: 0;

        i.card-header--icon-left {
            margin-right: 5px;
        }
    }

    .card-body {
        padding: $navbarPadding / 2;
    }
}

.nav-tabs {
    .nav-item {
        margin-bottom: 0;

        .nav-link {
            border: 0 !important;
            border-radius: 0;

            &:hover {
                background: #FCFCFC;
            }

            &.active {
                background-color: $navbarBorderColor;
            }

            .nav-link--icon-left {
                margin-right: 5px;
            }
        }
    }

    & + .tab-content {
        padding: $navbarPadding / 2;
        border: 1px solid $navbarBorderColor;
        border-top: 0;

        &.tab-content--form {
            margin-bottom: $form-group-margin-bottom;
            padding-bottom: 0;

            > [data-tab-model].tab-pane {
                margin-bottom: $form-group-margin-bottom;
            }
        }
    }
}

.pagination {
    border-radius: 4px;
    border: 1px solid $navbarBorderColor;
    border-right: 0;
    overflow: hidden;

    a.page-link, .page-link {
        border-color: $navbarBorderColor;
        border-top: 0;
        border-bottom: 0;
        color: $darkText;
        cursor: pointer;
        font-weight: 600;
        @include fontSize(12px);
        user-select: none;

        &:hover {
            background: #FCFCFC;
            color: $primary;
        }
    }

    .active {
        a.page-link, .page-link {
            background: #F3F6F6;
            color: $blackText;
        }
    }

    .disabled {
        a.page-link, .page-link {
            color: lighten($darkText, 30%);
        }
    }
}

.alert {
    p {
        margin-bottom: 0;
    }
}

.status-dott {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;

    &.--active { background: #32AB45; }
    &.--inactive { background: #E7492E; }
}

.box-header__actions {
    .multi-languages {
        .dropdown-toggle {
            padding: 4px 10px;

            &.has-error {
                border: 1px solid $validationErrorcolor;
                color: $validationErrorcolor;
            }
        }

        .dropdown-menu li {
            text-align: right;

            .fa { display: none; }
            &.has-error a { color: $validationErrorcolor; }
            &.has-error .fa { display: inline-block }
        }
    }
}