.dropdown {
    li.active {
        background: #f3f6f6;
        color: $blackText;
    }

    label {
        margin-bottom: 0;
        width: 100%;

        input {
            margin-right: 8px;
        }
    }

    li.default-reset {
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;

        a {
            @include fontSize(12px);
        }
    }

    &,
    button {
        @include fontSize(14px);
        min-height: $buttonHeight;

        &:not(.btn-primary):not(.btn-secondary):not(.btn-success):not(.btn-danger):not(.btn-info):not(.btn-dark):not(.btn-default) {
            color: $darkText;
        }
    }

    button {
        border: 1px solid $inputBorderColor;
        border-radius: $inputRadius;
        display: flex;
        align-items: center;

        &:not(.btn-primary):not(.btn-secondary):not(.btn-success):not(.btn-danger):not(.btn-info):not(.btn-dark):not(.btn-default) {
            background: white;

            &:hover {
                background: #fcfcfc;
                color: $darkText;
            }
        }

        i {
            &.--icon-left {
                margin-right: 1.5rem;
            }
            &.--icon-right {
                margin-left: 1.5rem;
            }

            @include fontSize(11px);
        }

        &.btn-sm {
            i {
                &.--icon-left {
                    margin-right: 8px;
                }
                &.--icon-right {
                    margin-left: 8px;
                }
            }
        }

        &:after {
            display: none;
        }
    }

    ul,
    .dropdown-menu {
        width: 200px;
        padding: 0;
        margin-top: 3px;

        max-height: calc(43px * 10.5);
        overflow-y: scroll;

        li,
        .dropdown-item {
            @include fontSize(14px);
            color: $darkText;
            cursor: pointer;

            label {
                cursor: pointer;
            }

            &:not(.--no-item-padding),
            .--dropdown-item-padding {
                padding: 1rem 1.2rem;
            }

            .--dropdown-item-vertical {
                display: flex;
                align-items: center;
            }

            i {
                min-width: 1.3rem;
                text-align: center;

                &.--icon-left {
                    margin-right: 1.5rem;
                }
                &.--icon-right {
                    margin-left: 1.5rem;
                }

                @include fontSize(11px);
            }

            a {
                color: $darkText;
                display: block;

                &,
                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                background: #f3f6f6;
                color: #41464c;
            }

            &:not(.active):hover {
                background: #fcfcfc;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $inputBorderColor;
            }
        }
    }
}

.card {
    border-color: $navbarBorderColor;
    border-radius: $navbarBorderRadius;

    .card-header {
        padding: 10px $cardPadding;
        @include fontSize(16px);
        background: $navbarBorderColor;
        color: $blackText;
        border-bottom: 0;

        i.card-header--icon-left {
            margin-right: 5px;
        }
    }

    .card-body {
        padding: $cardPadding;
    }
}

.nav-tabs {
    border-bottom: 0;

    .nav-item {
        margin-bottom: 0;

        .nav-link {
            padding: 1rem 2rem;
            border-top-left-radius: $navbarBorderRadius;
            border-top-right-radius: $navbarBorderRadius;
            border: 0 !important;

            &:hover {
                background: #fcfcfc;
            }

            &.active {
                background-color: $navbarBorderColor;
            }

            .nav-link--icon-left {
                margin-right: 5px;
            }
        }
    }

    & + .tab-content {
        padding: $cardPadding;

        &:not(.--model-active) {
            padding-bottom: calc($cardPadding - $form-group-margin-bottom);
        }

        border: 1px solid $navbarBorderColor;

        &.tab-content--form {
            border-radius: $boxBorderRadius;
            margin-bottom: $form-group-margin-bottom;

            &[data-active-index='0'] {
                border-top-left-radius: 0px;
            }

            &.--model-active {
                background: #eaedf02e;
            }

            /*> [data-tab-model].tab-pane {
                margin-bottom: $form-group-margin-bottom;
            }*/
        }
    }
}

.pagination {
    border-radius: $btn-border-radius;
    border: 1px solid $navbarBorderColor;
    border-right: 0;
    overflow: hidden;

    a.page-link,
    .page-link {
        border-color: $navbarBorderColor;
        border-top: 0;
        border-bottom: 0;
        color: $darkText;
        cursor: pointer;
        font-weight: 600;
        @include fontSize(12px);
        user-select: none;
        padding: 1rem 1.25rem;

        &:hover {
            background: #fcfcfc;
            color: $primary;
        }
    }

    .active {
        a.page-link,
        .page-link {
            background: #f3f6f6;
            color: $blackText;
        }
    }

    .disabled {
        a.page-link,
        .page-link {
            color: lighten($darkText, 30%);
        }
    }
}

.alert {
    p {
        margin-bottom: 0;
    }
}

.status-dott {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;

    &.--active {
        background: #32ab45;
    }
    &.--inactive {
        background: #e7492e;
    }
}

.box-header__actions {
    .multi-languages {
        .dropdown-toggle {
            &.has-error {
                border: 1px solid $validationErrorcolor;
                color: $validationErrorcolor;
            }
        }

        .dropdown-menu li {
            text-align: right;

            .fa {
                display: none;
            }
            &.has-error a {
                color: $validationErrorcolor;
            }
            &.has-error .fa {
                display: inline-block;
            }
        }
    }
}

.pagination-limit {
    &.--hidden-limit .form-control {
        background: $primary;
        color: white;
    }
}
