.gettext-table {
    table { background: white; width: 100%; max-width: 700px; margin-bottom: 0;}

    .modal-body { overflow-y: auto; }

    @media (min-width: 1000px) {
        .modal-dialog {
            width: 1000px;
            max-width: 90%;
        }
    }

    .modal-dialog {
        table { max-width: none }

        tr.missing { background: #555; color: white; }

        td {
            padding: 5px 5px;
            line-height: 155% !important;

            &:last-child { width: 50%; }

            &.input { background: white; padding: 0; position: relative; }
            &.input.edited { background: #ffe5e5 }

            .form-control {
                background: none;
                border: none;
                box-shadow: none !important
            }

            textarea.form-control {
                padding: 7px 10px 0;
                width: 100% !important;
                resize: none;
                min-height: 35px;
                height: 100%;
                position: absolute;

                &.long {
                    resize: auto;
                    height: auto;
                }
            }

            &.plural {
                textarea.form-control:not(:last-child) {
                    border-bottom: 1px solid #f4f4f4;
                }
            }
        }

        .translation-actions {
            text-align: center;
            margin-top: 15px;

            a {
                color: $primary;
                cursor: pointer;
            }

            a:not(:last-child) {
                margin-right: 12px;
                border-right: 1px solid #eee;
                display: inline-block;
                padding-right: 15px;
            }
        }

        .loading {
            text-align: center;

            i {
                margin-right: 5px;
            }
        }
    }
}