#app.--menuOpened {
    height: 100vh;
    overflow: hidden;
}

#app.--menuHidden {
    header.main-header {
        .main-header__wrapper {
            .navbar-left {
                padding: 10px;
                width: $navbarWidthHidden;

                .logo {
                    @include fontSize(12px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .navbar-right {
                width: calc(100% - #{$navbarWidthHidden});
            }
        }
    }

    aside.main-sidebar {
        width: $navbarWidthHidden;
        z-index: 999;

        .sidebar {
            padding: 10px 0;

            .sidebar-menu {
                > li {
                    border: 1px solid transparent;

                    > a {
                        text-decoration: none !important;

                        > i.icon:first-child {
                            width: calc(#{$navbarWidthHidden} - 2px);
                            text-align: center;
                        }

                        > i.side-arrow {
                            display: none;
                        }
                    }

                    &:not(:hover) {
                        &.active {
                            > .treeview-menu {
                                display: none;
                            }
                        }

                        > a {
                            i {
                                margin-right: 0;
                            }

                            span, i.side-arrow {
                                display: none;
                            }
                        }
                    }

                    &:hover {
                        width: calc(#{$navbarWidth} - #{$sidebarPadding});
                        background: white;
                        border: 1px solid $navbarBorderColor;
                        border-left: none;
                        margin-left: $navbarWidthHidden;
                        position: relative;

                        > .treeview-menu {
                            display: block;
                            background: white;
                            position: absolute;
                            padding-right: 15px;
                            border: 1px solid $navbarBorderColor;
                            width: calc(100% + 2px);
                            margin: -1px;
                        }

                        > a {
                            margin-left: calc(-#{$navbarWidthHidden} + 1px);
                            width: calc(100% + #{$navbarWidthHidden} - 1px)
                        }
                    }
                }
            }
        }

        .footer-sidebar {
            padding-left: 0;
            padding-right: 0;

            .footer-content {
                display: none;
            }
        }
    }

    .wrapper {
        .content-wrapper {
            width: calc(100% - #{$navbarWidthHidden});
        }
    }
}

header.main-header {
    height: $navbarHeight;
    border-bottom: 1px solid $navbarBorderColor;

    .main-header__wrapper {
        display: flex;
        height: 100%;

        .navbar-left {
            background: white;
            border-right: 1px solid $navbarBorderColor;
            width: $navbarWidth;
            padding: 0 $sidebarPadding;
            display: flex;
            align-items: center;
            position: relative;

            .logo {
                color: #4A5056;
                font-weight: 600;
                text-decoration: none;
                display: block;
                width: 100%;
                text-align: center;
                @include fontSize(30px);

                img {
                    max-width: 100%;
                    max-height: 55px;
                }
            }
        }

        .navbar-right {
            width: calc(100% - #{$navbarWidth});
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 $sidebarPadding;

            .navbar-custom-menu {
                display: flex;
                flex-direction: row;
                align-items: center;

                .dropdown {
                    button {
                        border-color: transparent;
                        background: transparent !important;
                    }
                }
            }

            .user-menu {
                position: relative;

                a.user-toggle {
                    color: #98A7B7;
                    @include fontSize(14px);
                    font-weight: 400;
                    text-decoration: none;
                    display: flex;
                    align-items: center;

                    @include less-than(md) {
                        span {
                            display: none;
                        }

                        img {
                            margin-right: 10px;
                        }
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                    }

                    span {
                        padding: 0 10px;
                    }
                }

                .dropdown-menu {
                    transform: none !important;
                    left: auto !important;
                    right: 0 !important;
                    top: 47px !important;
                    border-color: $navbarBorderColor;
                    border-radius: 1px;
                    min-width: 200px;
                    padding: $sidebarPadding;

                    @include less-than(md) {
                        min-width: auto;
                        width: calc(100vw - #{$sidebarPadding});
                    }

                    .user-header {
                        text-align: center;
                        min-width: 300px;

                        img {
                            border-radius: 100%;
                            max-width: 10rem;
                        }

                        p {
                            margin-top: 30px;
                        }
                    }

                    .user-footer {
                        .btn {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @include less-than(md) {
        .main-header__wrapper {
            justify-content: space-between;
            background: white;

            .navbar-left {
                border-right: 0;
                padding: 0;
                padding-left: 0;
                justify-content: flex-start;

                .logo {
                    text-align: left;
                    margin-left: $sidebarPadding / 2;
                }

                .mobile-menu {
                    height: 100%;
                    width: $navbarHeight;
                    background: $primary;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 22px;
                        color: white;
                    }
                }
            }

            .navbar-right {
                padding: $sidebarPadding / 2;
                background: white;
            }
        }
    }
}

aside.main-sidebar {
    width: $navbarWidth;
    background: white;
    border-right: 1px solid $navbarBorderColor;
    position: relative;

    @include less-than(md) {
        width: 100%;
        border-right: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        z-index: 2;
        height: calc(100vh - #{$navbarHeight});
        overflow-y: auto;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .sidebar {
        padding: calc($sidebarPadding / 1.5) $sidebarPadding calc($sidebarPadding / 1.5) $sidebarPadding;

        @include less-than(md) {
            padding: $sidebarPadding / 2;
            padding-left: calc(#{$sidebarPadding} / 2 + 7px);
            padding-right: calc(#{$sidebarPadding} / 2 + 7px);
        }

        .sidebar-menu {
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 0;
            color: $darkText;

            li {
                list-style: none;
                line-height: 45px;

                .treeview-menu {
                    padding-left: 15px;
                    display: none;

                    > li a {
                        font-weight: 500;
                        color: lighten($darkText, 5%);
                    }
                }

                a {
                    color: $darkText;
                    @include fontSize(12px);
                    text-transform: uppercase;
                    font-weight: 600;
                    display: block;
                    width: 100%;
                    position: relative;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    i.icon {
                        @include fontSize(15px);
                        margin-right: 15px;
                        width: 15px;
                        text-align: center;
                        color: lighten($darkText, 10%);
                    }

                    .side-arrow {
                        position: absolute;
                        top: calc(50% - 6px);
                        right: 0;
                    }
                }

                &.active:not(.treeview-list), #app.--menuHidden &.active {
                    &:before {
                        content: '';
                        width: 2px;
                        height: 40px;
                        background: $primary;
                        display: block;
                        position: absolute;
                        right: 0;
                    }

                    > a {
                        color: #41464C;

                        > i.icon {
                            color: $primary;
                        }
                    }
                }

                &.active {
                    > .treeview-menu {
                        display: block;
                    }
                }
            }
        }
    }

    .footer-sidebar {
        border-top: 1px solid $navbarBorderColor;
        border-bottom: 1px solid $navbarBorderColor;
        padding: $sidebarPadding;
        @include fontSize(12px);
        color: $darkText;
        position: relative;

        p {
            margin-bottom: 5px;

            a {
                /*color: $darkText;*/
            }
        }

        .toggle-menu-size {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: -1.3rem;
            border: 1px solid $navbarBorderColor;
            background: white;
            border-radius: 100%;
            padding: 0 10px;
            height: 3rem;
            width: 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 5;

            @include less-than(md) {
                display: none;
            }

            &:hover {
                background: $navbarBorderColor;
            }

            i {
                color: $darkText;
                @include fontSize(12px);
            }
        }
    }

}