.message-modal .modal {
    background: rgba(0, 0, 0, 0.2);
    overflow-y: auto;

    .modal-dialog {
        margin: auto;
        padding: 2.45rem;
        height: 100%;

        .modal-content {
            max-height: 100%;
        }
    }

    > .modal {
        z-index: 999;
    }

    &.modal-success, &.modal-danger, &.modal-warning {
        .modal-content {
            background: #00a65a;
            color: white;
            border: none;

            .modal-header {
                display: flex;
                align-items: center;

                .close {
                    color: white;
                }
            }

            .modal-header, .modal-footer { border-color: rgba(0, 0, 0, 0.1); }

            .btn-secondary, .btn-primary {
                background: none;
                border-color: white;
            }
        }
    }

    &.modal-danger .modal-content { background: $danger; }
    &.modal-warning .modal-content { background: #f39c12; }

    .modal-title {
        font-weight: 400;
        @include fontSize(20px);
    }

    .modal-header, .modal-body, .modal-footer {
        padding: $boxPadding / 1.5;
    }

    .modal-body {
        overflow-y: auto;

        p:last-child {
            margin-bottom: 0;
        }

        p > a, > a {
            color: white;
            font-weight: 600;
            text-decoration: underline;
        }

        p > a:hover, > a:hover {
            color: white;
            text-decoration: none;
        }
    }

    .modal-footer {
        .btn:not(:last-child) {
            margin-right: $navbarButtonsPadding / 2;
            margin-left: 0;
        }
    }
}

/*
 * canAdd modal in Modal
 */
.modal.--inModal {
    background: rgba(0, 0, 0, 0.5);
}

.adminToasts {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 3rem;

    .toast {
        border-radius: 0.6rem;
        border-width: 2px;
        border-style: solid;
        font-size: 1.6rem;
        background: white;
        position: relative;
        transition: all 0.2s ease-in-out;
        opacity: 1;
        bottom: -20rem;

        &.show {
            animation: toastAnimation 0.2s ease-in-out;
            bottom: 0;

            @keyframes toastAnimation {
                0% { bottom: -20rem; }
                100% { bottom: 0; }
            }
        }


        .icon {
            margin-right: 15px;
            font-size: 1.8rem;
        }

        .toast-body {
            padding: 2.5rem 3rem;

            p {
                margin-bottom: 0;
            }
        }

        .toast-header {
            padding: 1.5rem 3rem;
        }

        .close {
            position: absolute;
            top: -1.5rem;
            right: -1.5rem;
            background: white;
            width: 3rem;
            height: 3rem;
            opacity: 1;
            font-weight: 400;
            color: #A8B3C1;
            border-radius: 100%;
            font-weight: 400;
            color: #A8B3C1;
            box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 1;
                background: #4A54E2;
                color: white;
            }

            span {
                position: relative;
                top: -1px;
                font-size: 2.4rem;
            }
        }

        /* Default color */
        border-color: $primary;
        .toast-body, .toast-header {
            color: $blackText;
        }

        &.--success {
            border-color: #32AB45;

            .toast-body, .toast-header {
                color: #32AB45;
            }

            .close:hover {
                background: #32AB45;
            }
        }

        &.--danger {
            border-color: #E7492E;

            .toast-body, .toast-header {
                color: #E7492E;
            }

            .close:hover {
                background: #E7492E;
            }
        }
    }
}