.message-modal .modal {
    background: rgba(0, 0, 0, 0.2);

    > .modal {
        z-index: 999;
    }

    &.modal-success, &.modal-danger, &.modal-warning {
        .modal-content {
            background: #00a65a;
            color: white;

            .modal-header {
                display: flex;
                align-items: center;

                .close {
                    color: white;
                }
            }

            .modal-header, .modal-footer { border-color: rgba(0, 0, 0, 0.2); }

            .btn-secondary, .btn-primary {
                background: none;
                border-color: white;
            }
        }
    }

    &.modal-danger .modal-content { background: #d33724; }
    &.modal-warning .modal-content { background: #f39c12; }

    .modal-title {
        font-weight: 400;
        @include fontSize(20px);
    }

    .modal-body {
        p:last-child {
            margin-bottom: 0;
        }

        p > a, > a {
            color: white;
            font-weight: 600;
            text-decoration: underline;
        }

        p > a:hover, > a:hover {
            color: white;
            text-decoration: none;
        }
    }
}