.crudadmin-wrapper {
    .box {
        position: relative;

        .box-header {
            .box-header__actions--synchronize {
                color: red;
                cursor: pointer;
                @include fontSize(12px);
            }
        }

        .box-body {
            &.box-body--table {
                padding: 0;
                overflow-x: auto;
                clear: both;
            }

            .table {
                margin-bottom: 0;
                border: 0;
                @include fontSize(14px);
                color: $darkText;

                &.table-sm {
                    td:first-child,
                    th:first-child {
                        padding-left: 1.05rem;
                        padding-right: 0.42rem;
                    }
                    td:last-child,
                    th:last-child {
                        padding-right: 1.05rem;
                    }

                    td[data-type='file'] img {
                        height: 36px;
                    }
                }

                &.--box-padding-left {
                    td:first-child,
                    th:first-child {
                        padding-left: 3rem;
                    }
                }

                &.--box-padding {
                    td:first-child,
                    th:first-child {
                        padding-left: 3rem;
                    }
                    td:last-child,
                    th:last-child {
                        padding-right: 3rem;
                    }
                }

                th,
                td {
                    border-color: $inputBorderColor;
                }

                thead {
                    background: #fcfcfc;

                    th {
                        @include fontSize(12px);
                        font-weight: 600;
                        text-transform: uppercase;
                        color: $blackText;
                        border-bottom: 0;
                        border-top: 0;
                        vertical-align: middle;

                        i {
                            display: inline-block;
                        }

                        &.th-id {
                            text-align: center;
                        }

                        &.th-id,
                        &.th-increment {
                            width: 55px;
                        }
                    }
                }

                tbody {
                    background: white;

                    td {
                        vertical-align: middle;

                        &.td-id {
                            text-align: center;
                        }

                        &.td-id,
                        &.td-increment {
                            min-width: 55px;
                            white-space: nowrap;
                        }

                        &.--clickable {
                            cursor: pointer;
                        }

                        &[data-type='file'] {
                            padding-top: 0px;
                            padding-bottom: 0px;

                            img {
                                height: 46px;
                                transition: 0.2s all ease-in-out;

                                &:hover {
                                    height: 46px;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }

                    tr {
                        &.--active td {
                            background: rgba(222, 227, 233, 0.2);
                        }

                        @-webkit-keyframes blink {
                            from {
                                background: rgba(222, 227, 233, 0.5);
                            }
                            to {
                                background: white;
                            }
                        }
                        @-moz-keyframes blink {
                            from {
                                background: rgba(222, 227, 233, 0.5);
                            }
                            to {
                                background: white;
                            }
                        }
                        @-ms-keyframes blink {
                            from {
                                background: rgba(222, 227, 233, 0.5);
                            }
                            to {
                                background: white;
                            }
                        }
                        @-o-keyframes blink {
                            from {
                                background: rgba(222, 227, 233, 0.5);
                            }
                            to {
                                background: white;
                            }
                        }
                        @keyframes blink {
                            from {
                                background: rgba(222, 227, 233, 0.5);
                            }
                            to {
                                background: white;
                            }
                        }

                        &.--loading td {
                            animation: blink 0.5s infinite alternate;
                        }
                    }

                    tr:last-child {
                        td {
                            border-bottom: 0;
                        }
                    }

                    .buttons-options {
                        text-align: right;
                        font-size: 0;
                        white-space: nowrap;

                        .buttons-options__item {
                            margin: 0 2.5px;
                            display: inline-block;

                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                margin-right: 0;
                            }

                            .btn.btn-sm {
                                border-radius: $btn-border-radius;
                                padding: 0.55rem 0.9rem;
                            }
                        }

                        .--history-active {
                            button[data-button='action-HistoryButton'] {
                                background: #b900e2;
                                color: white !important;
                                border: 1px solid #80009c !important;

                                &:hover,
                                &:focus,
                                &:active,
                                &:visited {
                                    background: #80009c !important;
                                }
                            }
                        }
                    }
                }

                .row-draggable {
                    width: 20px;
                    padding-right: 0;
                    cursor: move;

                    i {
                        transition: all 0.1s ease-in-out;
                        color: $inputBorderColor;
                    }
                }

                tr:hover,
                th:hover,
                tr.sortable-chosen,
                th.sortable-chosen {
                    .row-draggable i {
                        color: darken($inputBorderColor, 5%);
                    }
                }

                .select-row-checkbox {
                    position: relative;
                    width: 25px;

                    & + th,
                    & + td {
                        padding-left: 0;
                    }
                }

                .row-indicator {
                    width: 20px;
                    padding-right: 0;

                    i {
                        width: 5px;
                        height: 5px;
                        background: #8292a594;
                        border-radius: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
