.wrapper {
    display: flex;
    min-height: calc(100vh - #{$navbarHeight});

    .content-wrapper {
        width: calc(100% - #{$navbarWidth});
        position: relative;

        @include less-than(md) {
            width: 100%;
        }

        .content-header {
            position: absolute;
            left: 0;
            top: -$navbarHeight;
            height: $navbarHeight;
            display: flex;

            @include less-than(md) {
                position: relative;
                top: 0;
                height: auto;
                padding: $navbarPadding/2 0;
                border-bottom: 1px solid $navbarBorderColor;
            }

            .breadcrumb {
                margin-bottom: 0;
                align-items: center;
                padding: 0 $navbarPadding;
                background: none;

                @include less-than(md) {
                    padding: 0 $navbarPadding / 2;
                }

                a {
                    font-weight: 600;
                    @include fontSize(14px);
                }

                .breadcrumb__title {
                    display: block;
                    color: $darkText;
                }

                li a {
                    color: #212529;
                }
            }
        }
    }
}

.crudadmin-wrapper {
    padding: $navbarPaddingTop $navbarPadding $navbarPadding $navbarPadding;

    @include less-than(md) {
        padding: $navbarPadding / 2;
    }

    .box {
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
        border-radius: $boxBorderRadius;

        .box-header {
            background: white;
            padding: $boxPadding;
            border-bottom: 1px solid $inputBorderColor;
            border-top-left-radius: $boxBorderRadius;
            border-top-right-radius: $boxBorderRadius;

            &.--opened {
                background: #eaedf02e;
            }

            @include less-than(md) {
                padding: $boxPadding / 2;
            }

            &.box-header--actions, .box-header__actions {
                display: flex;
                justify-content: space-between;

                @include less-than(md) {
                    flex-direction: column;

                    .box-header__left {
                        margin-bottom: $boxPadding / 2;
                    }
                }

                .box-header__right, .box-header__left {
                    display: flex;
                    align-items: center;

                    > *:not(:last-child) {
                        margin-right: $boxPadding / 2;
                    }

                    > .btn {
                        min-height: 31px;
                    }
                }
            }

            .btn--icon.--button-back {
                width: $buttonHeight;
                height: $buttonHeight;
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;

                &.--pr {
                    margin-right: $boxPadding / 1.5 !important;
                }
            }

            .box-header__title {
                @include fontSize(20px);
                font-weight: 400;
                margin-bottom: 0;

                .--icon-left { margin-right: 5px; }
                .--icon-right { margin-left: 5px; }
            }

            .box-header__description {
                display: block;
                @include fontSize(16px);
                color: $darkText;
                margin: 4px 0 0 0;
                font-weight: 400;
            }
        }

        .box-body {
            padding: $boxPadding;
            border-bottom: 1px solid $navbarBorderColor;

            @include less-than(md){
                padding: $boxPadding / 2;

                &.box-body--table {
                    .table {
                        > thead th, > tbody td {
                            padding: 0.42rem;
                        }
                    }
                }
            }

            &.box-body--form {
                padding-bottom: $boxPadding - $form-group-margin-bottom;
            }
        }

        .box-footer {
            background: white;
            padding: $boxPadding;
            border-bottom-left-radius: $boxBorderRadius;
            border-bottom-right-radius: $boxBorderRadius;

            @include less-than(md){
                padding: $boxPadding / 2;
            }

            &.box-footer--actions, .box-footer__actions {
                display: flex;
                justify-content: space-between;
                overflow: visible;

                .box-footer__left {
                    margin-right: auto;
                }

                .box-footer__right {
                    margin-left: auto;
                }

                .box-footer__right, .box-footer__left {
                    display: flex;
                    align-items: center;

                    > *:not(:last-child) {
                        margin-right: $boxPadding / 2;
                    }
                }

                .pagination {
                    height: $buttonHeight;
                    margin-bottom: 0;

                    li a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                }
            }

        }
    }


    .admin-model {
        .admin-model__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: $navbarPaddingTop;

            @include less-than(md) {
                flex-direction: column;
                margin-bottom: $navbarPadding / 2;
            }

            .left, .right {
                display: flex;
                align-items: center;

                @include less-than(md) {
                    flex-direction: column;

                    > * {
                        width: 100%;
                    }
                }

                > *:not(:last-child) {
                    @include more-than(md) {
                        margin-right: $navbarButtonsPadding;
                    }

                    @include less-than(md) {
                        margin-bottom: $navbarButtonsPadding;
                    }
                }

            }

            .btn {
                white-space: nowrap;
            }

            .admin-header__title {
                @include fontSize(20px);
                font-weight: 400;
                margin-bottom: 0;

                .--icon-left { margin-right: 5px; }
                .--icon-right { margin-left: 5px; }
            }

            .admin-header__description {
                display: block;
                @include fontSize(16px);
                color: $darkText;
                margin: 4px 0 0 0;
                font-weight: 400;
            }

            ul.change-grid-size {
                display: flex;
                padding-left: 0;
                margin-bottom: 0;
                height: $buttonHeight;
                border: 1px solid $inputBorderColor;
                border-radius: $inputRadius;
                overflow: hidden;
                @include fontSize(14px);
                color: $darkText;
                cursor: pointer;
                margin-top: -1px;
                margin-bottom: -1px;

                @include less-than(md) {
                    display: none;
                }

                li {
                    list-style: none;
                    background: white;
                    display: flex;
                    align-items: center;
                    padding: 0 1.5rem;

                    img {
                        max-width: 30px;
                    }

                    &:hover:not(.disabled):not(.active) {
                        background: #FCFCFC;
                    }

                    &.disabled {
                        background: #f7f7f7;
                        cursor: not-allowed;
                        pointer-events: all !important;
                    }

                    &:not(:last-child) {
                        border-right: 1px solid $inputBorderColor;
                    }
                }
            }
        }

        .admin-model__body {
            > .grid-table.grid-fullsize {
                > .col--form {
                    order: 2;
                }

                > .col--rows:not(.--noMargin) {
                    margin-bottom: $navbarPadding;
                }
            }

            @include less-than(lg) {
                > .grid-table > .col--form {
                    order: 2;
                }

                > .grid-table > .col--rows {
                    margin-bottom: $navbarPadding / 2;
                }
            }
        }

        /*
         * Single mode settings
         */
        &.admin-model--single-mode {
            > .admin-model__body > .row > .col--form > .crudadmin-form > .box > .box-header:not(.--forceVisible) { display: none; }
            > .admin-model__body > .row > .col--form > .crudadmin-form > .box > .box-header h3 { display: none; }
        }

        /*
         * In parent mode
         */
        &.admin-model--in-parent {
            > .admin-model__body {
                > .row > .col--form > .crudadmin-form > .box {
                    box-shadow: none;

                    > .box-body {
                        padding: 0;
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}